#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
}

input {
  border-radius: 8px;
  height: 30px;
}

.toaster {
  position: absolute;
  bottom: 10px;
}

.toast {
  background-color: lightseagreen;
  border-radius: 8px;
  padding: 10px;
  margin: 5px;
  width: 500px;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
